{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Posts list</h1>
    </div>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>Filename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts if posts is not empty %}
                <tr>
                    <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.content }}</td>
                    <td>
                        <img src="{{ asset(post.file.pathname) }}" width="150">
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="col-empty">
                        <i>Not post</i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('post_new') }}">Create a new post</a>

{% endblock %}
